$body-background-color: #0a0f14;
$sidebar-color: #0f1a24;
$search-background-color: #0f1a24;
$code-background-color: #0f2233;
$table-background-color: #0f1a24;

$body-text-color: #dce9f5;
$body-heading-color: #f8fcff;
$nav-child-link-color: #9eb7ce;
$link-color: #4fd6ff;

$btn-primary-color: #3ef0c9;
$base-button-color: #173042;
$feedback-color: #0f2233;
